*{
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    --color-principal: rgb(22, 30, 59);
    --margen-principal: 1px solid #ffffff50;
}
body{
    background-color: var(--color-principal)
}
/*************************Nav*******************/
.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background-color: var(--color-principal);
    box-shadow: 0px 2px rgb(14, 19, 36);
    
}
.boton-menu{
    width: 40px;
    display: none;
}
.enlaceTitulo{
    text-decoration: none;
}
.nav h1{
    color: white;
    font-size: 35px;
}

.opciones{
    margin-left:25px;
    padding: 10px;
    text-decoration: none;
    border: var(--margen-principal);
    color: white;
}
.opciones:hover{
    color: #000000;
    background-color: #ffffff;
    transition: all .2s;
}
/**********************Subtitulos*****************/
.titulo-seccion{
    color: white    ;
    text-align: center;
    font-size: 40px;
    padding-top: 15vh;
    padding-bottom: 5%;
}
/************************Sobre mi****************************/
.contenedor-sobre-mi{
    width: 100%;
    min-height: auto;
}
.sobre-mi-titulo{
    color: white;
}
.contenido-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-img{
    max-width: 400px;
    min-width: 320px;
}
.contenedor-texto{
    border: var(--margen-principal);
    padding: 10px;
    width: 700px;
    color: white;
    text-align: justify;
    line-height: 50px;
    font-size: 15px;
}
/**********************Contenedores-tarjetas y tarjetas**************/
.contenedor-seccion{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}
.tarjeta{
    border: var(--margen-principal);
    padding: 15px;
    width: 350px;
    min-width: 280px;
}
.tarjeta img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.tarjeta p{
    margin-top: 50px;
    color: white;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 25px;
}
.tarjeta a{
    padding: 5px;
    border: var(--margen-principal);
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.tarjeta a:hover{
    color: #000000;
    background-color: #ffffff;
    transition: all .2s;
}

/********************Footer*******************/
footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
footer a img{
    width: 100%;
    height: 5vh;
}

/*******************Responsive****************/
@media (max-width: 700px) {
    .boton-menu{
        display: block;
    }
    .nav h1{
        font-size: 30px;
    }
    nav{
        display: none;
    }
    .menu{
        display: flex;
        background-color: var(--color-principal);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
    }
    .menu a{
        padding: 20px;
        margin: 0px;
        text-align: center;
        text-transform: uppercase;
    }
  }
