*{
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
    /* --color-principal: rgb(22, 30, 59); */
    --color-principal: #fff;
    --segundo-color: rgb(173, 219, 44);
}
body{
    background-color: var(--color-principal)
}
/*************************Nav*******************/
.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    background-color: var(--color-principal);
    box-shadow: 0px 4px var(--segundo-color)
    
}
.boton-menu{
    width: 40px;
    display: none;
}
.enlaceTitulo{
    text-decoration: none;
}
.nav h2{
    color: rgb(0, 0, 0);
    font-size: 2em;
}

.opciones{
    margin-left:25px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}
.opciones:hover{
    color: #000000;
    background-color: var(--segundo-color);
    transition: all .2s;
}
/**********************Subtitulos*****************/
.titulo-seccion{
    color: rgb(0, 0, 0)    ;
    text-align: center;
    font-size: 3em;
    padding-top: 15vh;
    padding-bottom: 5%;
}

/* Baner */
.baner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.baner h1{
    text-align: center;
    font-size: 4em;
}
.baner p{
    font-size:2em;
    text-align: center;
}
.baner img{
    width: 5vh;
}
/************************Sobre mi****************************/
.contenedor-sobre-mi{
    width: 100%;
    min-height: auto;
}
.sobre-mi-titulo{
    color: rgb(0, 0, 0);
}
.contenido-sobre-mi{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-img{
    max-width: 400px;
    min-width: 320px;
}
.contenedor-texto{
    padding: 10px;
    width: 700px;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 50px;
    font-size: 1em;
}
/**********************Contenedores-tarjetas y tarjetas**************/
.contenedor-seccion{
    width: 100%;
    height: auto;
    padding-bottom: 5%;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}
.tarjeta{
    padding: 15px;
    width: 350px;
    min-width: 280px;
}
.tarjeta img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.tarjeta p{
    margin-top: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    text-align: justify;
    line-height: 25px;
}
.tarjeta a{
    padding: 5px;
    background-color: var(--segundo-color);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.tarjeta a:hover{
    color: #000000;
    background-color: rgba(179, 207, 17, 0.548);
    transition: all .2s;
}

/********************Footer*******************/
footer{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
footer a img{
    width: 100%;
    height: 5vh;
}

/*******************Responsive****************/
@media (max-width: 700px) {
    .boton-menu{
        display: block;
    }
    nav{
        display: none;
    }
    .menu{
        display: flex;
        background-color: var(--color-principal);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
    }
    .menu a{
        padding: 20px;
        margin: 0px;
        text-align: center;
        text-transform: uppercase;
    }
  }
